body{
    margin: 0;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    color: white;
    text-decoration: none;
    width: 100%;
    overflow-x: hidden;
}

/*Header*/
header{
    color: white;
    text-transform: uppercase;
    background-image: url(mainpizza.jpg);
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    
    


    
}

.line{
  background-color: white;
  position: absolute;
  height: 6px;
  width: 38px;
  transition: 0.5s;
  border-radius: 2px;
  right: 5px;
  display: none;
}
.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }


.hamburger-menu{
  background-color: rgb(78, 77, 77);
  margin-top: 10%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  gap: 20px;
  padding-top: 10px;
  height: 20vh;
  display: none;
}
.hamburger-menu a{
  text-decoration: none;
  color: white;
}
#hamburger:checked + .hamburger .line:nth-child(2){
  opacity:0;
}

#hamburger:checked + .hamburger .line:nth-child(3){
  transform: translateY(-12px) rotate(45deg);
}
#cim{
    text-align: left;
    left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    position: absolute;
    
}
nav{
    text-align: right;
    margin-right: 5%;
    width: 100%;
    position: relative;    
    height: fit-content;
    top: 30px;
    font-size: larger;
  
}
nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
nav a:active{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
nav a:hover{
    text-decoration: none;
    color: rgb(126, 122, 122);
    text-transform: uppercase;
    transition-duration: 400ms;
}

#myLinks{
  height: 20vh;
}
/*Main*/

.main{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: -330px;
    min-height: inherit;
    gap: 0;
}

/*elso div*/
.tortenet{
    display: flex;

    justify-content: space-between;
    background-color: #1b1b1b;
    color: #fff;
    padding: 40px;
    padding-left: 0px;
    padding-right: 0px;
    height: 270px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}
  
  .left-column {
    max-width: 30%;
    text-align: right;
    margin-left: 300px;
  }
  
  .right-column {
    max-width: 60%;
    margin-right: 5%;
  }
  
  .left-column h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .left-column .alcim {
    font-size: 1.2em;
    color: #ccc;
    margin-top: -15px;
  }
  
  .right-column p {
    line-height: 1.6;
  }
  
  .foglal {
    font-weight: bold;
    margin-top: 20px;
  }

  
  

/*masodik div*/


.menu{
    text-align: center;
    height: 400px;
    color: white;

    padding-left: 220px ;
    padding-right: 220px ;
    padding-top: 40px;
}
.menu h5{
    color: #948e8e;
}
button{
    height: 45px;
    width: 120px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 1px;
    border-style:solid;
    
}
button:hover{
    background: rgb(51, 49, 49);
    transition-duration: 390ms;
}
.gombok{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin: 10% auto ;
    width: 100%;

    
    
    
}

/*harmadik div*/

.speckeret{
  text-align: center;
  display: grid;
  margin-left: 0px;
  padding: 0;
  grid-template-columns: repeat(20, 100px) ;
  grid-template-rows: repeat(20,100px);
  grid-gap: 0;
  height: inherit;
  
  
 
  
}
.img-gallery{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.specialitas{
  text-align: center;
  background-color: #1b1b1b;
  height: 100vh;
}
.specialitas h1,h5{
  font-weight: lighter;
}
#fopizza{
    
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
    
}


#gomba{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;

    
}
#kolbasz{
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
  
}
#paradicsom{

  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 6;
  grid-row-end: 8;
  
}
#steak{
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 6;
}










/*Footer*/

.footer{
 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-left: -35px;

 
}
table{
    margin: auto;
    height: 400px;
    width: 250px;
    margin: 0;
    border-spacing: 20px;
    text-align: left;
}
table td{
    border: 1px;
    border-color: rgb(139, 138, 138);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-style: solid;
}

.probald{
    text-align: left;
    height: 600px;
    width: 300px;
}
.szeretettel{
  height: 600px;
  width: 400px;
  text-align: right;
  letter-spacing: 1px;
  margin-left: -50px;
  font-size: smaller;
   
}
.nyitvatart{
  height: 600px;
}
.nyitvatart h4{
  margin-left: 10px;
  
}

#foglink{
  color: white;
  font-size: larger;
}
.footercim{
  border-top: 1px;
  border-color: rgb(139, 138, 138);
  border-bottom: 0;
  border-left:0 ;
  border-right: 0;
  border-style: solid;
  height: 200px;
  margin: auto;
  width: 50%;
  margin-top: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: black;
  font-size: 0.7rem;
}




@media only screen and (max-width: 996px) {




  .left-column{
    margin-left: 0px;
    
  }
  .gombok{

  }
  .menu{
    padding: 0 120px ;
  }
}
@media only screen and (max-width: 1100px) {
  header{
    background-position: 50% 50%;
  }
  #fopizza{
    
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
    
}


#gomba{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;

    
}
#kolbasz{
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 7;
  
}
#paradicsom{

  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 6;
  grid-row-end: 8;
  
}
#steak{
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 6;
}


}
@media only screen and (max-width: 996px) {
  #fopizza{
    
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    
}


#gomba{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;

    
}
#kolbasz{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 7;
  
}
#paradicsom{

  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 8;
  
}
#steak{
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 6;
}


}
@media only screen and (max-width: 896px) {

  #fopizza{
  
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    
}


#gomba{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  width: 90%;
  
    
}



#kolbasz{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
  width: 73%;
  
}
#paradicsom{

  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
  
}
#steak{
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
 
}

}

@media only screen and (max-width: 823px) {
  .speckeret{
    padding-left: 0;
  }  
}

@media only screen and (max-width: 796px) {
  #fopizza{
    margin-left: 1rem;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    
}


#gomba{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  width: 90%;
  margin-left: 1rem;
    
}



#kolbasz{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
  width: 80%;
  margin-left: 1rem;
}
#paradicsom{
  margin-left: -1rem;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
  width: 80%;
  
}
#steak{
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
  margin-left: -1rem;
  width: 80%;
}

}


@media only screen and (max-width: 723px) {
  .speckeret{
    padding-left: 0;
  }  
}

@media only screen and (max-width: 750px) {
  nav a{
    display: none;
  }
  .line{
    display: block;
  }
  
  
  .specialitas{
    height: 80vh;
  }
  .footer{
    justify-content: flex-start;
    column-gap: 0;
  }

  #fopizza{
    margin-left: 1rem;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    
}


#gomba{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  width: 83%;
  margin-left: 1rem;
    
}



#kolbasz{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  width: 140%;
  margin-left: 1rem;
}
#paradicsom{
  margin-left: -1rem;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 6;
  width: 60%;
  
}
#steak{
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-left: -1rem;
  width: 60%;
}


}

@media only screen and (max-width:700px){
  #fopizza{
    margin-left: 1rem;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    
}


#gomba{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  width: 83%;
  margin-left: 1rem;
    
}



#kolbasz{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  width: 140%;
  margin-left: 1rem;
}
#paradicsom{
  margin-left: -1rem;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 6;
  width: 60%;
  
}
#steak{
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-left: -1rem;
  width: 60%;
}
}
@media only screen and (max-width: 457px) {
  #fopizza{
    margin-left: 0;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
}


#gomba{
  margin-left: 0;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
  width: 100%;
    
}



#kolbasz{
  margin-left: 0;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
  width: 100%;
}
#paradicsom{
  margin-left: 0;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 14;
  grid-row-end: 16;
  
}
#steak{
  margin-left: 0;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 10;
  grid-row-end: 14;
 
}
}

@media only screen and (max-width: 666px) {
  .left-column{
    margin-left: 5%;
  }

}